body {
    font-family: Arial, sans-serif;
    background-color: #171616;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(228, 211, 211);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.products, .cart {
    margin: 20px 0;
}

.product {
    background: #dad8e6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 5px 10px;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d9cece;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.remove-btn {
    background: #dc3545;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background: #c82333;
}
